@font-face {
  font-family: "iconfont"; /* Project id 5104974 */
  src: url('iconfont.woff2?t=1774403877001') format('woff2'),
       url('iconfont.woff?t=1774403877001') format('woff'),
       url('iconfont.ttf?t=1774403877001') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shijuan:before {
  content: "\e621";
}

.icon-hangye:before {
  content: "\e6f5";
}

.icon-vertical_line:before {
  content: "\e63a";
}

.icon-mima:before {
  content: "\e65f";
}

.icon-youxiang:before {
  content: "\e769";
}

.icon-shouji:before {
  content: "\e603";
}

.icon-a-jinghao2:before {
  content: "\e605";
}

.icon-yanjing:before {
  content: "\e661";
}

.icon-denglu:before {
  content: "\e6bd";
}

.icon-ai-briefcase:before {
  content: "\e624";
}

.icon-a-ziyuan543ldpi:before {
  content: "\e612";
}

.icon-gouxuankuang:before {
  content: "\e604";
}

.icon-shangchuantupian:before {
  content: "\e61e";
}

.icon-shangchuanwenjian:before {
  content: "\e606";
}

.icon-zidongshengcheng:before {
  content: "\e7e9";
}

.icon-xunzhang1:before {
  content: "\e80d";
}

.icon-renyuan:before {
  content: "\e65e";
}

.icon-zhengque:before {
  content: "\e602";
}

.icon-xingxing:before {
  content: "\e62b";
}

.icon-zuofanye:before {
  content: "\e600";
}

.icon-youfanye:before {
  content: "\e601";
}

.icon-Gc_05_public-DoubleRightOutlined:before {
  content: "\e61b";
}

.icon-Gc_06_public-DoubleRightOutlined:before {
  content: "\e61c";
}

.icon-ceshishenqing:before {
  content: "\eb61";
}

.icon-qiyewenhua:before {
  content: "\e66a";
}

.icon-gongju:before {
  content: "\e61f";
}

.icon-sanjiaoxing:before {
  content: "\e620";
}

